.footer__info {
    margin: 40px 0 40px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}

@media all and (min-width: 412px) {
    .footer__info {
        flex-direction: column;
        margin: 80px 0 30px 0;
    }
  } 