.ai-research__card {
    min-width: 140px;
    color: #001337;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 0 8px 8px 0;
}

.ai-research__card:nth-of-type(2n) {
    margin: 0 0 8px 0;
}