.ai-research__logo {
    width: 40px;
    height: 40px;
    background-color: #FFF;
    box-shadow: 0  2.24px 11.22px rgba(1,54,157,0.15);
    border-radius: 100%;
    margin: 16px auto;
    position: relative;
    z-index: 2;
}

@media screen and (min-width: 768px) {
    .ai-research__logo {
        width: 41.19px;
        height: 41.19px;
        box-shadow: 0  4px 20px rgba(1,54,157,0.15);
        margin: 20px auto;
    }
}

@media screen and (min-width: 1440px) {
    .ai-research__logo {
        width: 70px;
        height: 70px;
        margin: 50px auto;
    }
}